.bg-header{
	height: 90px;
}
.col-sm{
  padding: 30px;
}
.btn-outline-secondary{
	height: 40px;	
}
.form-control{
	height: 40px;
}
.link-header{
	margin-right: 30px;
	color: black;
}
.new{
	width: 50px;
	height: 25px;
	background-color :#3DC47E;
	color: white;
	font-family: Lato;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 12px 5px 12px;
	border-radius: 5px;

}

.title-new{
	/*padding: 30px;*/
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	display: flex;
	padding-top: 50px;
}

.img-1{
	padding :35px;
	padding-right: 176px;
}

.setting{
	margin-left: 210px;
	float: left;
}

.information{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	padding-top: 20px; 
}
.buy{
	height: 40px;
	width: 189px;
	background-color: #4592FF;
	color: white;
	border-radius: 15px;
	margin-top: 45px;
}

.content{
	padding: 20px;
}

.carousel-botom{
	padding-top: 70px;

}
.carousel-control-prev,
.carousel-control-next{
	color: gray;
	font-size: 30px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
	color: black;
}

.card-title{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: black;
}
.card-text{
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;	
}
.rv{
	padding: 20px
}

a:hover{
	text-decoration: none;
	font-weight: bold;
	color:black;
}

.firm{
	background-color: rgba(40, 47, 54, 0.04);
}

.iconify{
	font-size: 45px; 
	color: #BEC0C2;
	margin: 40px 51px  20px 0;
}

.title-sale{
	padding-top: 60px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
}



